#insertPicture .inspic16 {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
#insertPicture .inspic16.mt {
  background: url("images/icon/mt.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.mr {
  background: url("images/icon/mr.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.ml {
  background: url("images/icon/ml.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.mb {
  background: url("images/icon/mb.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.padding {
  background: url("images/icon/padding.png") no-repeat scroll center center transparent;
  width: 18px;
  height: 18px;
}
#insertPicture .inspic16.radius {
  background: url("images/icon/radius.resized.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.bold {
  background: url("images/icon/text_bold.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.italic {
  background: url("images/icon/text_italic.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.fontsize {
  background: url("images/icon/fontsize.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.bwidth {
  background: url("images/icon/border-weight.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.alpha {
  background: url("images/icon/transparency.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.sh-y {
  background: url("images/icon/dist-v.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.sh-x {
  background: url("images/icon/dist-h.png") no-repeat scroll center center transparent;
}
#insertPicture .inspic16.sh-rad {
  background: url("images/icon/shadow-radius.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelectItem, #insertPicture .iconSelectItem span {
  width: 16px;
  height: 16px;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.solid, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.solid {
  background: url("images/icon/line-solid.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.dashed, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.dashed {
  background: url("images/icon/line-dashed.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.dotted, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.dotted {
  background: url("images/icon/line-dotted.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.double, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.double {
  background: url("images/icon/line-double.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.inline_right {
  background: url("images/icon/wrapping-right.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.inline_left {
  background: url("images/icon/wrapping-left.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.inline_none {
  background: url("images/icon/wrapping-inline.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.block_right {
  background: url("images/icon/wrapping-rightblock.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.block_left {
  background: url("images/icon/wrapping-leftblock.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.block_center {
  background: url("images/icon/wrapping-center.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="caption.textAlign"] .iconSelectItem.left {
  background: url("images/icon/text_align_left.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="caption.textAlign"] .iconSelectItem.center {
  background: url("images/icon/text_align_center.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="caption.textAlign"] .iconSelectItem.right {
  background: url("images/icon/text_align_right.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem.right {
  background: url("images/icon/pos-tr.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem.left {
  background: url("images/icon/pos-tl.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem.full {
  background: url("images/icon/pos-t.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem.right {
  background: url("images/icon/pos-br.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem.left {
  background: url("images/icon/pos-bl.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem.full {
  background: url("images/icon/pos-b.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.inner_bottom {
  background: url("images/icon/image-ib.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.outer_bottom {
  background: url("images/icon/image-ob.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.inner_top {
  background: url("images/icon/image-it.png") no-repeat scroll center center transparent;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.outer_top {
  background: url("images/icon/image-ot.png") no-repeat scroll center center transparent;
}
#insertPicture .colorPicker-picker {
  width: 18px;
  height: 18px;
}
#insertPicture .colorPicker-picker.picker-arrow-line {
  background:  url("images/icon/arrow-line.png") no-repeat scroll center center transparent !important;
}
#insertPicture .colorPicker-picker.picker-arrow-paint {
  background:  url("images/icon/arrow-paint.png") no-repeat scroll center center transparent !important;
}
#insertPicture .colorPicker-picker.picker-arrow-text {
  background:  url("images/icon/arrow-text.png") no-repeat scroll center center transparent !important;
}
