@import "css/include.less";
#insertPicture {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    width: 750px;
    position: relative;
    font-family: "tahoma";
    font-size: 12px;
    direction: rtl;
    padding: 6px;
    background-color:#EDEDED;

    input,img,select,label{
	vertical-align:middle;
    }

    @tabBorderColor: #bbb;
    .tab_headers {
	margin-right: 6px;
	position: relative;
	top:1px;
	span[for]{
	    display: inline-block;
	    padding: 5px 7px;
	    margin-right: 3px;
	    @backColor:#f3f3f3;
	    background-color: @backColor;
	    border-style: solid;
	    border-color: @tabBorderColor;
	    border-width: 1px 1px 0 1px;
	    border-radius: 5px 5px 0 0;
	    &:hover{
		cursor:pointer;
		background-color: #f4f4f4;
		&[disabled="disabled"]{
		    cursor:default;
		    background-color: @backColor;
		}
	    }
	    &.selected, &.selected:hover{
		background-color: white;
		border-bottom: 1px solid white;
		z-index:2;
	    }
	}
	.inspic_inputfield{
	    float:left;
	}
    }

    .tabs{
	> div {
	    border: 1px solid @tabBorderColor;
	    background-color: white;
	    padding: 4px;
	    border-radius: 5px;
	    height: 100px;
	    >legend {
		width:100%;
	    }
	}
    }

    .preview{
	background-color:white;
	border-radius: 5px;
	display: inline-block;
	height: 400px;
	width: 750px;
	overflow: auto;
    }

    .inspic_inputfield{
	display: inline-block;
	padding: 5px;
    }

    .inspic_preview {
	position: relative;
	float: left;
	width: 250px;
    }

    .iconSelect{
	display:inline-block;
	border-radius: 5px;
	background-color:#eee;
	border:1px solid #ddd;
	.iconSelectItem{
	    display:inline-block;
	    vertical-align: middle;
	    height: 16px;
	    width: 16px;
	    background-position: center center;
	    background-repeat:no-repeat;
	    border-radius:3px;
	    border-right:1px solid #ddd;
	    padding:3px;
	    &.first{
		border:0;
	    }
	    &:hover{
		cursor:pointer;
		background-color:#f4f4f4;
	    }
	    &.selected{
		background-color:white;
	    }
	}
    }

    @inputBorderColor: #bebebe;
    @inputRadius: 4px;
    input{
	float:left;
	margin:0;
	&[type="text"] {
	    direction: ltr;
	    text-align: center;
	    height: 21px;
	    border: 1px solid @inputBorderColor;
	    border-radius: @inputRadius;
	    &.spinner{
		border-radius: 0 @inputRadius @inputRadius 0;
		background: #ddd;
	    }
	}
    }

    .inspic_spinner{
	display:block;
	float:left;
	vertical-align:middle;
	position: relative;
	left:1px;
	a{
	    width: 11px;
	    height: 11px;
	    display: block;
	    clear: both;
	    border: 1px solid @inputBorderColor;
	}
	.up{
	    .icon('up.png');
	    border-radius: @inputRadius 0 0 0;
	}
	.dn{
	    .icon('dn.png');
	    position:relative;
	    top:-1px;
	    border-radius: 0 0 0 @inputRadius;
	}
    }

    .spanButton(@color){
	background-color:lighten(@color, 10%);
	border:1px solid desaturate(darken(@color, 20%), 20%);
	color:darken(@color, 50%);
	display:inline-block;
	float: left;
	padding: 5px;
	position:relative;
	bottom: 3px;
	border-radius: 3px;
	&:hover{
	    cursor:pointer;
	    background-color:@color;
	}
    }

    .inspic_button{
	&.submit{
	    .spanButton(#b5f2c4);
	}
	&.cancel{
	    margin-left: 3px;
	    .spanButton(#ddd);
	}
    }


    /* slider root element */
    .slider {
	background:url(images/icon/slider.png) no-repeat;
	height:15px;
	position:relative;
	cursor:pointer;
	width:104px;
	float:left;
	clear:right;
	margin-top:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:inset 0 0 8px #000;
    }

    /* progress bar (enabled with progress: true) */
    .progress {
	height:15px;
	/*left: 10px;
	width: 90px;*/
	position:relative;
	background-color:#C5FF00;
	display:none;
	opacity:0.6;
    }

    /* drag handle */
    .handle {
	background:#fff url("http://jquerytools.org/media/img/gradient/h30.png") repeat-x 0 0;
	height:8px;
	width:8px;
	top:2px;
	position:absolute;
	display:block;
	margin-top:1px;
	border:1px solid #000;
	cursor:move;
	border-radius: 3px;
    }

    /* the input field */
    .range {
	border:1px inset #ddd;
	float:left;
	font-size:20px;
	margin:0 0 0 15px;
	padding:3px 0;
	text-align:center;
	width:50px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    }
}

.ipic-cfx {
    display: block !important;
}

.ipic-mrg, .ipic-bdr, .ipic-cap-in, .ipic-cap-out, .ipic-inner, .ipic-wrp {
    display: inline-block;
    position: relative;
}
.ipic-inner img, .ipic-bdr img {
    vertical-align: middle;
}
.ipic-inner img {
    border-width: 0;
    z-index: -1;
    position: relative;
}
.ipic-bdr {
    z-index: 1;
}
.ipic-cap-in {
    position: absolute;
    padding: 20px;
    min-width: 30%;
}
.ipic-cap-out {
    display: block;
    padding: 5px;
}
.ipic-cap-in span, .ipic-cap-out span{
    padding: 0;
    margin: 0;
    font-weight:normal;
}



