@import "css/include.less";
@import "css/elements.less";

.jqibox.inspic {
    .jqimessage{
	padding: 0px;
    }
    .jqiclose{
	z-index: 1000;
    }
}

#insertPicture {
    * {
outline: 0;
}
    position: relative;
    font-family: "tahoma";
    font-size: 12px;
    direction: rtl;
    line-height: normal;
    
    input,img,select,label,.inspic_inputfield{
	vertical-align:middle;
    }

    @tabBorderColor: #bbb;
    .tab_headers {
	/*background: -moz-linear-gradient(90deg, #DDDDDD 0%, #FAFAFA) repeat scroll 0 0 transparent;*/
	.gradient(#ddd ,#ddd, #fafafa);
	padding: 6px 6px 0 5px;
	position: relative;
	top:1px;
	span[for]{
	    display: inline-block;
	    padding: 8px 12px;
	    margin-right: 3px;
	    .gradient(#eee, #eee, #fff);
	    border-style: solid;
	    border-color: #ddd;
	    border-width: 1px 1px 0 1px;
	    border-radius: 5px 5px 0 0;
	    &:hover{
		cursor:pointer;
		&[disabled="disabled"]{
		    cursor:default;
		}
	    }
	    &.selected, &.selected:hover{
		background: -moz-linear-gradient(-90deg, #FFFFFF 0%, #FFFFFF) repeat scroll 0 0 transparent;
		border-bottom: 1px solid white;
		z-index:2;
	    }
	}
	.inspic_inputfield{
	    float:left;
	    padding: 0;
	    margin: 0;
	    height: auto;
	    label{
		display: none;
	    }
	    .iconCheck{
		width:24px;
		height:24px;
		.icon("adv.png");
		margin-left: 5px;
		margin-top: 0;
		border-radius: 3px;
		border: 1px solid #bbb;
		padding: 1px;
		background-color: #fff;
		&.checked{
		    background-color: #dadada;
		}
	    }
	}
    }

    .tabs{
	> div {
	    padding: 4px;
	    border-radius: 5px;
	    height: 120px;
	    >legend {
		width:100%;
	    }
	}
    }



    .inspic_preview {
	position: relative;
	float: left;
	width: 250px;
    }

    .iconSelect{
	display:inline-block;
	border-radius: 5px;
	background-color:#eee;
	border:1px solid #ddd;
	.iconSelectItem{
	    display:inline-block;
	    vertical-align: middle;
	    height: 16px;
	    width: 16px;
	    background-position: center center;
	    background-repeat:no-repeat;
	    border-radius:3px;
	    border-right:1px solid #ddd;
	    padding:6px;
	    &.first{
		border:0;
	    }
	    &:hover{
		cursor:pointer;
		background-color:#f4f4f4;
	    }
	    &.selected{
		background-color:white;
	    }
	}
    }

    @inputBorderColor: #bebebe;
    @inputRadius: 4px;
    @inputHeight: 30px;

    input{
	padding: 3px;
	float:right;
	height: @inputHeight - 9;
	margin:0;
	&[type="text"] {
	    direction: ltr;
	    text-align: center;
	    border: 1px solid @inputBorderColor;
	    border-radius: @inputRadius 0 0 @inputRadius;
	    /*box-shadow: 0 0 2px @inputBorderColor inset;*/
	    &.spinner{
		border-radius: 0;
	    }
	}
    }

    select{
	height: @inputHeight;
	padding: 3px 0;
    }
    
    .inspic_inputfield{
	margin: 10px 0 0 8px;
	display: inline-block;
	height: @inputHeight;
	&.border{
	    border: 1px solid @inputBorderColor;
	    border-radius: @inputRadius;
	    padding: 5px;
	    height: auto;
	}
	label{
	    display: inline-block;
	}
    }
    
    .inspic_label{
	height: @inputHeight - 11;
	display:inline-block;
	border: 1px solid @inputBorderColor;
	vertical-align:middle;
	position: relative;
	padding:4px 6px;
	left: -1px;
	float:right;
	font-size: 12px;
	border-radius: 0 @inputRadius @inputRadius 0;
	background: #ddd;
	label{
	    margin-top: 0;
	}
    }
   
    .inspic_spinner{
	display:block;
	float:right;
	vertical-align:middle;
	position: relative;
	left:1px;
	a{
	    width: @inputHeight / 2 - 2;
	    height: @inputHeight / 2 - 2;
	    display: block;
	    clear: both;
	    border: 1px solid @inputBorderColor;
	    box-shadow: 0 0 3px rgba(0,0,0,.3) inset;
	    cursor:pointer;
	    &[disabled="disabled"]{
		cursor:default;
	    }
	}
	.up{
	    .icon('up.png');
	    border-radius: @inputRadius 0 0 0;
	}
	.dn{
	    .icon('dn.png');
	    position:relative;
	    top:-1px;
	    border-radius: 0 0 0 @inputRadius;
	}
    }

    .spanButton(@color){
	background-color:lighten(@color, 10%);
	border:1px solid desaturate(darken(@color, 20%), 20%);
	color:darken(@color, 50%);
	display:inline-block;
	float: left;
	padding: 5px;
	position:relative;
	bottom: 3px;
	border-radius: 3px;
	&:hover{
	    cursor:pointer;
	    background-color:@color;
	}
    }

    .inspic_button{
	&.submit{
	    border: 1px solid #aaa;
	    padding: 4px 17px 6px;
	    float: left;
	    display: inline-block;
	    border-radius: 3px;
	    cursor: pointer;
	    color: #444;
	    .gradient(#fff, #ddd, #fff);
	}
    }


    /* slider root element */
    .slider {
	height:15px;
	position:relative;
	cursor:pointer;
	width:100px;
	float:left;
	display: inline-block;
	margin: 6px 20px 0px 20px;
	
	/* progress bar (enabled with progress: true) */
	.progress {
	    height:5px;
	    width: 100%;
	    top:5px;
	    left: 0;
	    position:absolute;
	    background-color:#bbb;
	    border: 1px solid #666;
	    box-shadow: 0 0 2px rgba(0,0,0,.5) inset;
	    border-radius: 3px;
	    display:inline-block;
	    opacity:0.6;
	}
	/* drag handle */
	.handle {
	    background:#fff url("http://jquerytools.org/media/img/gradient/h30.png") repeat-x 0 0;
	    height:8px;
	    width:8px;
	    top:2px;
	    position:absolute;
	    display:block;
	    margin-top:1px;
	    border:1px solid #000;
	    border-radius: 3px;
	}
	&:before, &:after{
	    content: " ";
	    display: inline-block;
	    position: absolute;
	    top: 0px;
	    width: 17px;
	    height: 17px;
	    left: 23px;
	}
	&:before{
	    .icon("sliderRight.png");
	    right: -23px;
	}
	&:after{
	    .icon("sliderLeft.png");
	    left:-17px;
	}
    }
    /* .range is applied to input which has slider */
    .range{
	width: 50px;
	margin-left: 10px;
    }

    .iconCheck{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	.icon('unchecked.png');
	width: 20px;
	height: 20px;
	margin-left: 2px;
	margin-top: 4px;
	&.checked{
	    .icon('checked.png');
	}
    }
}

.ipic-cfx {
    display: block !important;
}

.ipic-mrg, .ipic-bdr, .ipic-cap-in, .ipic-cap-out, .ipic-inner, .ipic-wrp {
    display: inline-block;
    position: relative;
}
.ipic-inner img, .ipic-bdr img {
    vertical-align: middle;
}
.ipic-inner img {
    border-width: 0;
    z-index: -1;
    position: relative;
}
.ipic-bdr {
    z-index: 1;
}
.ipic-cap-in {
    position: absolute;
    padding: 20px;
    min-width: 30%;
}
.ipic-cap-out {
    display: block;
    padding: 5px;
}
.ipic-cap-in span, .ipic-cap-out span{
    padding: 0;
    margin: 0;
    font-weight:normal;
}



