@import "css/include.less";
#insertPicture {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    width: 750px;
    position: relative;
    font-family: "tahoma";
    font-size: 12px;
    direction: rtl;
    padding: 6px;
    background-color:#EDEDED;

    input,img,select{
	vertical-align:middle;
    }

    input{
	margin:0;
	&[type="text"] {
	    direction: ltr;
	    text-align: center;
	}
    }

    @tabBorderColor: #bbb;
    .tab_headers {
	margin-right: 6px;
	position: relative;
	top:1px;
	span[for]{
	    display: inline-block;
	    padding: 5px 7px;
	    margin-right: 3px;
	    @backColor:#f3f3f3;
	    background-color: @backColor;
	    border-style: solid;
	    border-color: @tabBorderColor;
	    border-width: 1px 1px 0 1px;
	    border-radius: 5px 5px 0 0;
	    &:hover{
		cursor:pointer;
		background-color: #f4f4f4;
		&[disabled="disabled"]{
		    cursor:default;
		    background-color: @backColor;
		}
	    }
	    &.selected, &.selected:hover{
		background-color: white;
		border-bottom: 1px solid white;
		z-index:2;
	    }
	}
	.inspic_inputfield{
	    float:left;
	}
    }

    .tabs{
	> div {
	    border: 1px solid @tabBorderColor;
	    background-color: white;
	    padding: 4px;
	    border-radius: 5px;
	    height: 100px;
	    >legend {
		width:100%;
	    }
	}
    }

    .preview{
	background-color:white;
	border-radius: 5px;
	display: inline-block;
	height: 400px;
	width: 750px;
	overflow: auto;
    }

    .inspic_inputfield{
	display: inline-block;
	padding: 5px;
    }

    .inspic_preview {
	position: relative;
	float: left;
	width: 250px;
    }

    .iconSelect{
	display:inline-block;
	border-radius: 5px;
	background-color:#eee;
	border:1px solid #ddd;
	.iconSelectItem{
	    display:inline-block;
	    vertical-align: middle;
	    height: 16px;
	    width: 16px;
	    background-position: center center;
	    background-repeat:no-repeat;
	    border-radius:3px;
	    border-right:1px solid #ddd;
	    padding:3px;
	    &.first{
		border:0;
	    }
	    &:hover{
		cursor:pointer;
		background-color:#f4f4f4;
	    }
	    &.selected{
		background-color:white;
	    }
	}
    }
    
    .inspic_spinner{
	position:relative;
	width:11px;
	height: 5px;
	display:inline-block;
	vertical-align:middle;
	>span{
	    position:absolute;
	    line-height:0;
	    right:0;
	    padding:2px;
	    cursor:pointer;
	    border: 1px solid #ccc;
	    display: inline-block;
	    @back:#fff;
	    background-color: @back;
	    &[disabled="disabled"]{
		cursor:default;
	    }
	    &.inspic_dn{
		top:2px;
		border-radius: 0 0 3px 3px;
		.dn{
		    .icon("bullet_arrow_down.png");
		}
	    }
	    &.inspic_up{
		bottom:2px;
		border-radius: 3px 3px 0 0;
		.up{
		    .icon("bullet_arrow_up.png");
		}
	    }
	    .up,.dn{
		width: 7px;
		height: 5px;
		display: inline-block;
		vertical-align: middle;
	    }
	    &:hover{
		background-color: #F2E9D5;
		&[disabled="disabled"]{
		    background-color:@back;
		}
	    }
	}
    }

    .spanButton(@color){
	background-color:lighten(@color, 10%);
	border:1px solid desaturate(darken(@color, 20%), 20%);
	color:darken(@color, 50%);
	display:inline-block;
	float: left;
	padding: 5px;
	position:relative;
	bottom: 3px;
	border-radius: 3px;
	&:hover{
	    cursor:pointer;
	    background-color:@color;
	}
    }

    .inspic_button{
	&.submit{
	    .spanButton(#b5f2c4);
	}
	&.cancel{
	    margin-left: 3px;
	.spanButton(#ddd);
    }
}

}


.pic_clearfix {
    display: block !important;
    &:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
    }
}

.pic_margin, .pic_border, .pic_caption_inner, .pic_caption_outer, .pic_inner, .pic_wrapper {
    display: inline-block;
    position: relative;
}
.pic_inner img, .pic_border img {
    vertical-align: middle;
}
.pic_inner img {
    border-width: 0;
    z-index: -1;
    position: relative;
}
.pic_border {
    z-index: 1;
}
.pic_caption_inner {
    position: absolute;
    padding: 20px;
    min-width: 30%;
}
.pic_caption_outer {
    display: block;
    padding: 5px;
}
.pic_caption_inner h1, .pic_caption_outer h1, .pic_caption_inner p , .pic_caption_outer p{
    padding: 0;
    margin: 0;
    font-weight:normal;
}



