#insertPicture {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  width: 750px;
  position: relative;
  font-family: "tahoma";
  font-size: 12px;
  direction: rtl;
  padding: 6px;
  background-color: #EDEDED;
}
#insertPicture input, #insertPicture img, #insertPicture select {
  vertical-align: middle;
}
#insertPicture input {
  margin: 0;
}
#insertPicture input[type="text"] {
  direction: ltr;
  text-align: center;
}
#insertPicture .tab_headers {
  margin-right: 6px;
  position: relative;
  top: 1px;
}
#insertPicture .tab_headers span[for] {
  display: inline-block;
  padding: 5px 7px;
  margin-right: 3px;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #bbbbbb;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
}
#insertPicture .tab_headers span[for]:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
#insertPicture .tab_headers span[for]:hover[disabled="disabled"] {
  cursor: default;
  background-color: #f3f3f3;
}
#insertPicture .tab_headers span[for].selected, #insertPicture .tab_headers span[for].selected:hover {
  background-color: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
#insertPicture .tab_headers .inspic_inputfield {
  float: left;
}
#insertPicture .tabs > div {
  border: 1px solid #bbbbbb;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  height: 100px;
}
#insertPicture .tabs > div > legend {
  width: 100%;
}
#insertPicture .preview {
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  height: 400px;
  width: 750px;
  overflow: auto;
}
.inspic_inputfield {
  display: inline-block;
  padding: 5px;
}
.inspic_preview {
  position: relative;
  float: left;
  width: 250px;
}
.pic_clearfix {
  display: block !important;
}
.pic_clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.pic_margin,
.pic_border,
.pic_caption_inner,
.pic_caption_outer,
.pic_inner,
.pic_wrapper {
  display: inline-block;
  position: relative;
}
.pic_inner img, .pic_border img {
  vertical-align: middle;
}
.pic_inner img {
  border-width: 0;
  z-index: -1;
  position: relative;
}
.pic_border {
  z-index: 1;
}
.pic_caption_inner {
  position: absolute;
  padding: 20px;
  min-width: 30%;
}
.pic_caption_outer {
  display: block;
  padding: 5px;
}
.pic_caption_inner h1,
.pic_caption_outer h1,
.pic_caption_inner p,
.pic_caption_outer p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
.iconSelect {
  display: inline-block;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #ddd;
}
.iconSelect .iconSelectItem {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 3px;
  border-right: 1px solid #ddd;
  padding: 3px;
}
.iconSelect .iconSelectItem.first {
  border: 0;
}
.iconSelect .iconSelectItem:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
.iconSelect .iconSelectItem.selected {
  background-color: white;
}
.iconSelect[field="borderline.style"] .iconSelectItem[value="solid"], .iconSelect[field="caption.outer.border.style"] .iconSelectItem[value="solid"] {
  background-image: url("images/icon/line-solid.png");
}
.iconSelect[field="borderline.style"] .iconSelectItem[value="dashed"], .iconSelect[field="caption.outer.border.style"] .iconSelectItem[value="dashed"] {
  background-image: url("images/icon/line-dashed.png");
}
.iconSelect[field="borderline.style"] .iconSelectItem[value="dotted"], .iconSelect[field="caption.outer.border.style"] .iconSelectItem[value="dotted"] {
  background-image: url("images/icon/line-dotted.png");
}
.iconSelect[field="borderline.style"] .iconSelectItem[value="double"], .iconSelect[field="caption.outer.border.style"] .iconSelectItem[value="double"] {
  background-image: url("images/icon/line-double.png");
}
.iconSelect[field="position"] .iconSelectItem[value="inline_right"] {
  background-image: url("images/icon/wrapping-right.png");
}
.iconSelect[field="position"] .iconSelectItem[value="inline_left"] {
  background-image: url("images/icon/wrapping-left.png");
}
.iconSelect[field="position"] .iconSelectItem[value="inline_none"] {
  background-image: url("images/icon/wrapping-inline.png");
}
.iconSelect[field="position"] .iconSelectItem[value="block_right"] {
  background-image: url("images/icon/wrapping-rightblock.png");
}
.iconSelect[field="position"] .iconSelectItem[value="block_left"] {
  background-image: url("images/icon/wrapping-leftblock.png");
}
.iconSelect[field="position"] .iconSelectItem[value="block_center"] {
  background-image: url("images/icon/wrapping-center.png");
}
.iconSelect[field="caption.textAlign"] .iconSelectItem[value="left"] {
  background-image: url("images/icon/text_align_left.png");
}
.iconSelect[field="caption.textAlign"] .iconSelectItem[value="center"] {
  background-image: url("images/icon/text_align_center.png");
}
.iconSelect[field="caption.textAlign"] .iconSelectItem[value="right"] {
  background-image: url("images/icon/text_align_right.png");
}
.iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem[value="right"] {
  background-image: url("images/icon/pos-tr.png");
}
.iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem[value="left"] {
  background-image: url("images/icon/pos-tl.png");
}
.iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem[value="full"] {
  background-image: url("images/icon/pos-t.png");
}
.iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem[value="right"] {
  background-image: url("images/icon/pos-br.png");
}
.iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem[value="left"] {
  background-image: url("images/icon/pos-bl.png");
}
.iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem[value="full"] {
  background-image: url("images/icon/pos-b.png");
}
.iconSelect[field="caption.pos"] .iconSelectItem[value="inner_bottom"] {
  background-image: url("images/icon/image-ib.png");
}
.iconSelect[field="caption.pos"] .iconSelectItem[value="outer_bottom"] {
  background-image: url("images/icon/image-ob.png");
}
.iconSelect[field="caption.pos"] .iconSelectItem[value="inner_top"] {
  background-image: url("images/icon/image-it.png");
}
.iconSelect[field="caption.pos"] .iconSelectItem[value="outer_top"] {
  background-image: url("images/icon/image-ot.png");
}
.colorPicker-picker.picker-arrow-line {
  background-image: url("images/icon/arrow-line.png") !important;
}
.colorPicker-picker.picker-arrow-paint {
  background-image: url("images/icon/arrow-paint.png") !important;
}
.colorPicker-picker.picker-arrow-text {
  background-image: url("images/icon/arrow-text.png") !important;
}
.inspic_spinner {
  position: relative;
  width: 11px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}
.inspic_spinner img {
  position: absolute;
  right: 0;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #ffffff;
}
.inspic_spinner img[disabled="disabled"] {
  cursor: default;
}
.inspic_spinner img.inspic_dn {
  top: 2px;
  border-radius: 0 0 3px 3px;
}
.inspic_spinner img.inspic_up {
  bottom: 2px;
  border-radius: 3px 3px 0 0;
}
.inspic_spinner img:hover {
  background-color: #F2E9D5;
}
.inspic_spinner img:hover[disabled="disabled"] {
  background-color: #ffffff;
}
.inspic_button.submit {
  background-color: #e0fae7;
  border: 1px solid #71d088;
  color: #198f36;
  display: inline-block;
  float: left;
  padding: 5px;
  position: relative;
  bottom: 3px;
  border-radius: 3px;
}
.inspic_button.submit:hover {
  cursor: pointer;
  background-color: #b5f2c4;
}
.inspic_button.cancel {
  margin-left: 3px;
  background-color: #f7f7f7;
  border: 1px solid #aaaaaa;
  color: #5e5e5e;
  display: inline-block;
  float: left;
  padding: 5px;
  position: relative;
  bottom: 3px;
  border-radius: 3px;
}
.inspic_button.cancel:hover {
  cursor: pointer;
  background-color: #dddddd;
}
div.colorPicker-picker {
  height: 18px;
  width: 18px;
  padding: 0 !important;
/*  border: 1px solid #ccc;*/
  background: url(images/icon/arrow.gif) no-repeat top right;
  cursor: pointer;
  display: inline-block;
  line-height: 16px;
}

div.colorPicker-palette {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  z-index: 9999;
}
  div.colorPicker_hexWrap {width: 100%; float:left }
  div.colorPicker_hexWrap label {font-size: 14px; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 14px; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}
