div.colorPicker-picker {
  height: 18px;
  width: 18px;
  padding: 0 !important;
/*  border: 1px solid #ccc;*/
  background: url(images/icon/arrow.gif) no-repeat top right;
  cursor: pointer;
  display: inline-block;
  line-height: 16px;
}

div.colorPicker-palette {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  z-index: 9999;
}
  div.colorPicker_hexWrap {width: 100%; float:left }
  div.colorPicker_hexWrap label {font-size: 14px; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 14px; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}
#insertPicture {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  width: 750px;
  position: relative;
  font-family: "tahoma";
  font-size: 12px;
  direction: rtl;
  padding: 6px;
  background-color: #EDEDED;
}
#insertPicture input, #insertPicture img, #insertPicture select {
  vertical-align: middle;
}
#insertPicture input {
  margin: 0;
}
#insertPicture input[type="text"] {
  direction: ltr;
  text-align: center;
}
#insertPicture .tab_headers {
  margin-right: 6px;
  position: relative;
  top: 1px;
}
#insertPicture .tab_headers span[for] {
  display: inline-block;
  padding: 5px 7px;
  margin-right: 3px;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #bbbbbb;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
}
#insertPicture .tab_headers span[for]:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
#insertPicture .tab_headers span[for]:hover[disabled="disabled"] {
  cursor: default;
  background-color: #f3f3f3;
}
#insertPicture .tab_headers span[for].selected, #insertPicture .tab_headers span[for].selected:hover {
  background-color: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
#insertPicture .tab_headers .inspic_inputfield {
  float: left;
}
#insertPicture .tabs > div {
  border: 1px solid #bbbbbb;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  height: 100px;
}
#insertPicture .tabs > div > legend {
  width: 100%;
}
#insertPicture .preview {
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  height: 400px;
  width: 750px;
  overflow: auto;
}
#insertPicture .inspic_inputfield {
  display: inline-block;
  padding: 5px;
}
#insertPicture .inspic_preview {
  position: relative;
  float: left;
  width: 250px;
}
#insertPicture .iconSelect {
  display: inline-block;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #ddd;
}
#insertPicture .iconSelect .iconSelectItem {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 3px;
  border-right: 1px solid #ddd;
  padding: 3px;
}
#insertPicture .iconSelect .iconSelectItem.first {
  border: 0;
}
#insertPicture .iconSelect .iconSelectItem:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
#insertPicture .iconSelect .iconSelectItem.selected {
  background-color: white;
}
#insertPicture .inspic_spinner {
  position: relative;
  width: 11px;
  height: 5px;
  display: inline-block;
  vertical-align: middle;
}
#insertPicture .inspic_spinner > span {
  position: absolute;
  line-height: 0;
  right: 0;
  padding: 2px;
  cursor: pointer;
  border: 1px solid #ccc;
  display: inline-block;
  background-color: #ffffff;
  width: 7px;
  height: 5px;
  vertical-align: middle;
}
#insertPicture .inspic_spinner > span[disabled="disabled"] {
  cursor: default;
}
#insertPicture .inspic_spinner > span.inspic_dn {
  top: 2px;
  border-radius: 0 0 3px 3px;
  background-image: url("images/icon/bullet_arrow_down.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic_spinner > span.inspic_up {
  bottom: 2px;
  border-radius: 3px 3px 0 0;
  background-image: url("images/icon/bullet_arrow_up.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic_spinner > span:hover {
  background-color: #F2E9D5;
}
#insertPicture .inspic_spinner > span:hover[disabled="disabled"] {
  background-color: #ffffff;
}
#insertPicture .inspic_button.submit {
  background-color: #e0fae7;
  border: 1px solid #71d088;
  color: #198f36;
  display: inline-block;
  float: left;
  padding: 5px;
  position: relative;
  bottom: 3px;
  border-radius: 3px;
}
#insertPicture .inspic_button.submit:hover {
  cursor: pointer;
  background-color: #b5f2c4;
}
#insertPicture .inspic_button.cancel {
  margin-left: 3px;
  background-color: #f7f7f7;
  border: 1px solid #aaaaaa;
  color: #5e5e5e;
  display: inline-block;
  float: left;
  padding: 5px;
  position: relative;
  bottom: 3px;
  border-radius: 3px;
}
#insertPicture .inspic_button.cancel:hover {
  cursor: pointer;
  background-color: #dddddd;
}
.pic_clearfix {
  display: block !important;
}
.pic_margin,
.pic_border,
.pic_caption_inner,
.pic_caption_outer,
.pic_inner,
.pic_wrapper {
  display: inline-block;
  position: relative;
}
.pic_inner img, .pic_border img {
  vertical-align: middle;
}
.pic_inner img {
  border-width: 0;
  z-index: -1;
  position: relative;
}
.pic_border {
  z-index: 1;
}
.pic_caption_inner {
  position: absolute;
  padding: 20px;
  min-width: 30%;
}
.pic_caption_outer {
  display: block;
  padding: 5px;
}
.pic_caption_inner h1,
.pic_caption_outer h1,
.pic_caption_inner p,
.pic_caption_outer p {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
#insertPicture .inspic16 {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
#insertPicture .inspic16.mt {
  background-image: url("images/icon/mt.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.mr {
  background-image: url("images/icon/mr.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.ml {
  background-image: url("images/icon/ml.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.mb {
  background-image: url("images/icon/mb.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.padding {
  background-image: url("images/icon/padding.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
#insertPicture .inspic16.radius {
  background-image: url("images/icon/radius.resized.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.bold {
  background-image: url("images/icon/text_bold.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.italic {
  background-image: url("images/icon/text_italic.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.fontsize {
  background-image: url("images/icon/fontsize.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.bwidth {
  background-image: url("images/icon/border-weight.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.alpha {
  background-image: url("images/icon/transparency.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.sh-y {
  background-image: url("images/icon/dist-v.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.sh-x {
  background-image: url("images/icon/dist-h.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.sh-rad {
  background-image: url("images/icon/shadow-radius.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.slider {
  background-image: url("images/icon/slider.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 104px;
  height: 15px;
}
#insertPicture .iconSelectItem, #insertPicture .iconSelectItem span {
  width: 16px;
  height: 16px;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.solid, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.solid {
  background-image: url("images/icon/line-solid.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.dashed, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.dashed {
  background-image: url("images/icon/line-dashed.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.dotted, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.dotted {
  background-image: url("images/icon/line-dotted.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.double, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.double {
  background-image: url("images/icon/line-double.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.inline_right {
  background-image: url("images/icon/wrapping-right.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.inline_left {
  background-image: url("images/icon/wrapping-left.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.inline_none {
  background-image: url("images/icon/wrapping-inline.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.block_right {
  background-image: url("images/icon/wrapping-rightblock.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.block_left {
  background-image: url("images/icon/wrapping-leftblock.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.block_center {
  background-image: url("images/icon/wrapping-center.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.textAlign"] .iconSelectItem.left {
  background-image: url("images/icon/text_align_left.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.textAlign"] .iconSelectItem.center {
  background-image: url("images/icon/text_align_center.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.textAlign"] .iconSelectItem.right {
  background-image: url("images/icon/text_align_right.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem.right {
  background-image: url("images/icon/pos-tr.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem.left {
  background-image: url("images/icon/pos-tl.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem.full {
  background-image: url("images/icon/pos-t.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem.right {
  background-image: url("images/icon/pos-br.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem.left {
  background-image: url("images/icon/pos-bl.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem.full {
  background-image: url("images/icon/pos-b.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.inner_bottom {
  background-image: url("images/icon/image-ib.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.outer_bottom {
  background-image: url("images/icon/image-ob.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.inner_top {
  background-image: url("images/icon/image-it.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.outer_top {
  background-image: url("images/icon/image-ot.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
#insertPicture .colorPicker-picker {
  width: 18px;
  height: 18px;
}
#insertPicture .colorPicker-picker.picker-arrow-line {
  background-image: url("images/icon/arrow-line.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
#insertPicture .colorPicker-picker.picker-arrow-paint {
  background-image: url("images/icon/arrow-paint.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
#insertPicture .colorPicker-picker.picker-arrow-text {
  background-image: url("images/icon/arrow-text.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
