div.colorPicker-picker {
  height: 18px;
  width: 18px;
  padding: 0 !important;
/*  border: 1px solid #ccc;*/
  background: url(images/icon/arrow.gif) no-repeat top right;
  cursor: pointer;
  display: inline-block;
  line-height: 16px;
}

div.colorPicker-palette {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  z-index: 9999;
}
  div.colorPicker_hexWrap {width: 100%; float:left }
  div.colorPicker_hexWrap label {font-size: 14px; color: #2F2F2F; margin: 5px 2px; width: 25%}
  div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 14px; border: 1px solid #000; width: 65%; }

div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}
#insertPicture {
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 2px;
  width: 750px;
  position: relative;
  font-family: "tahoma";
  font-size: 12px;
  direction: rtl;
  padding: 6px;
  background-color: #EDEDED;
  /* slider root element */

  /* progress bar (enabled with progress: true) */

  /* drag handle */

  /* the input field */

}
#insertPicture input,
#insertPicture img,
#insertPicture select,
#insertPicture label,
#insertPicture .inspic_inputfield {
  vertical-align: middle;
}
#insertPicture .tab_headers {
  margin-right: 6px;
  position: relative;
  top: 1px;
}
#insertPicture .tab_headers span[for] {
  display: inline-block;
  padding: 5px 7px;
  margin-right: 3px;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: #bbbbbb;
  border-width: 1px 1px 0 1px;
  border-radius: 5px 5px 0 0;
}
#insertPicture .tab_headers span[for]:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
#insertPicture .tab_headers span[for]:hover[disabled="disabled"] {
  cursor: default;
  background-color: #f3f3f3;
}
#insertPicture .tab_headers span[for].selected, #insertPicture .tab_headers span[for].selected:hover {
  background-color: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
#insertPicture .tab_headers .inspic_inputfield {
  float: left;
}
#insertPicture .tabs > div {
  border: 1px solid #bbbbbb;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  height: 120px;
}
#insertPicture .tabs > div > legend {
  width: 100%;
}
#insertPicture .preview {
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  height: 400px;
  width: 750px;
  overflow: auto;
}
#insertPicture .inspic_inputfield {
  display: inline-block;
  padding: 5px;
}
#insertPicture .inspic_preview {
  position: relative;
  float: left;
  width: 250px;
}
#insertPicture .iconSelect {
  display: inline-block;
  border-radius: 5px;
  background-color: #eee;
  border: 1px solid #ddd;
}
#insertPicture .iconSelect .iconSelectItem {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 3px;
  border-right: 1px solid #ddd;
  padding: 3px;
}
#insertPicture .iconSelect .iconSelectItem.first {
  border: 0;
}
#insertPicture .iconSelect .iconSelectItem:hover {
  cursor: pointer;
  background-color: #f4f4f4;
}
#insertPicture .iconSelect .iconSelectItem.selected {
  background-color: white;
}
#insertPicture input {
  padding: 3px;
  float: right;
  height: 21px;
  margin: 0;
}
#insertPicture input[type="text"] {
  direction: ltr;
  text-align: center;
  border: 1px solid #bebebe;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 0 2px #bebebe inset;
}
#insertPicture input[type="text"].spinner {
  border-radius: 0;
}
#insertPicture .inspic_label {
  height: 19px;
  display: inline-block;
  border: 1px solid #bebebe;
  vertical-align: middle;
  position: relative;
  padding: 4px;
  left: -1px;
  float: right;
  font-size: 12px;
  border-radius: 0 4px 4px 0;
  background: #ddd;
}
#insertPicture .inspic_label label {
  display: inline-block;
}
#insertPicture .inspic_spinner {
  display: block;
  float: right;
  vertical-align: middle;
  position: relative;
  left: 1px;
}
#insertPicture .inspic_spinner a {
  width: 13px;
  height: 13px;
  display: block;
  clear: both;
  border: 1px solid #bebebe;
}
#insertPicture .inspic_spinner .up {
  background-image: url("images/icon/up.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 4px 0 0 0;
}
#insertPicture .inspic_spinner .dn {
  background-image: url("images/icon/dn.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  top: -1px;
  border-radius: 0 0 0 4px;
}
#insertPicture .inspic_button.submit {
  background-color: #e0fae7;
  border: 1px solid #71d088;
  color: #198f36;
  display: inline-block;
  float: left;
  padding: 5px;
  position: relative;
  bottom: 3px;
  border-radius: 3px;
}
#insertPicture .inspic_button.submit:hover {
  cursor: pointer;
  background-color: #b5f2c4;
}
#insertPicture .inspic_button.cancel {
  margin-left: 3px;
  background-color: #f7f7f7;
  border: 1px solid #aaaaaa;
  color: #5e5e5e;
  display: inline-block;
  float: left;
  padding: 5px;
  position: relative;
  bottom: 3px;
  border-radius: 3px;
}
#insertPicture .inspic_button.cancel:hover {
  cursor: pointer;
  background-color: #dddddd;
}
#insertPicture .slider {
  background: url(images/icon/slider.png) no-repeat;
  height: 15px;
  position: relative;
  cursor: pointer;
  width: 104px;
  float: left;
  clear: right;
  margin-top: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: inset 0 0 8px #000;
}
#insertPicture .progress {
  height: 15px;
  /*left: 10px;
	width: 90px;*/

  position: relative;
  background-color: #C5FF00;
  display: none;
  opacity: 0.6;
}
#insertPicture .handle {
  background: #ffffff url("http://jquerytools.org/media/img/gradient/h30.png") repeat-x 0 0;
  height: 8px;
  width: 8px;
  top: 2px;
  position: absolute;
  display: block;
  margin-top: 1px;
  border: 1px solid #000;
  cursor: move;
  border-radius: 3px;
}
#insertPicture .range {
  border: 1px inset #ddd;
  float: left;
  font-size: 20px;
  margin: 0 0 0 15px;
  padding: 3px 0;
  text-align: center;
  width: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.ipic-cfx {
  display: block !important;
}
.ipic-mrg,
.ipic-bdr,
.ipic-cap-in,
.ipic-cap-out,
.ipic-inner,
.ipic-wrp {
  display: inline-block;
  position: relative;
}
.ipic-inner img, .ipic-bdr img {
  vertical-align: middle;
}
.ipic-inner img {
  border-width: 0;
  z-index: -1;
  position: relative;
}
.ipic-bdr {
  z-index: 1;
}
.ipic-cap-in {
  position: absolute;
  padding: 20px;
  min-width: 30%;
}
.ipic-cap-out {
  display: block;
  padding: 5px;
}
.ipic-cap-in span, .ipic-cap-out span {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
#insertPicture .inspic16 {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
#insertPicture .inspic16.mt {
  background-image: url("images/icon/mt.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.mr {
  background-image: url("images/icon/mr.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.ml {
  background-image: url("images/icon/ml.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.mb {
  background-image: url("images/icon/mb.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.padding {
  background-image: url("images/icon/padding.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
#insertPicture .inspic16.radius {
  background-image: url("images/icon/radius.resized.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.bold {
  background-image: url("images/icon/text_bold.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.italic {
  background-image: url("images/icon/text_italic.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.fontsize {
  background-image: url("images/icon/fontsize.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.bwidth {
  background-image: url("images/icon/border-weight.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.alpha {
  background-image: url("images/icon/transparency.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.sh-y {
  background-image: url("images/icon/dist-v.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.sh-x {
  background-image: url("images/icon/dist-h.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.sh-rad {
  background-image: url("images/icon/shadow-radius.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .inspic16.slider {
  background-image: url("images/icon/slider.png");
  background-position: center center;
  background-repeat: no-repeat;
  width: 104px;
  height: 15px;
}
#insertPicture .iconSelectItem, #insertPicture .iconSelectItem span {
  width: 16px;
  height: 16px;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.solid, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.solid {
  background-image: url("images/icon/line-solid.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.dashed, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.dashed {
  background-image: url("images/icon/line-dashed.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.dotted, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.dotted {
  background-image: url("images/icon/line-dotted.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="borderline.style"] .iconSelectItem.double, #insertPicture .iconSelect[field="caption.outer.border.style"] .iconSelectItem.double {
  background-image: url("images/icon/line-double.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.inline_right {
  background-image: url("images/icon/wrapping-right.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.inline_left {
  background-image: url("images/icon/wrapping-left.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.inline_none {
  background-image: url("images/icon/wrapping-inline.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.block_right {
  background-image: url("images/icon/wrapping-rightblock.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.block_left {
  background-image: url("images/icon/wrapping-leftblock.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="position"] .iconSelectItem.block_center {
  background-image: url("images/icon/wrapping-center.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.textAlign"] .iconSelectItem.left {
  background-image: url("images/icon/text_align_left.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.textAlign"] .iconSelectItem.center {
  background-image: url("images/icon/text_align_center.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.textAlign"] .iconSelectItem.right {
  background-image: url("images/icon/text_align_right.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem.right {
  background-image: url("images/icon/pos-tr.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem.left {
  background-image: url("images/icon/pos-tl.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem.full {
  background-image: url("images/icon/pos-t.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem.right {
  background-image: url("images/icon/pos-br.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem.left {
  background-image: url("images/icon/pos-bl.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem.full {
  background-image: url("images/icon/pos-b.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.inner_bottom {
  background-image: url("images/icon/image-ib.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.outer_bottom {
  background-image: url("images/icon/image-ob.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.inner_top {
  background-image: url("images/icon/image-it.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#insertPicture .iconSelect[field="caption.pos"] .iconSelectItem.outer_top {
  background-image: url("images/icon/image-ot.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
#insertPicture .colorPicker-picker {
  width: 18px;
  height: 18px;
}
#insertPicture .colorPicker-picker.picker-arrow-line {
  background-image: url("images/icon/arrow-line.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
#insertPicture .colorPicker-picker.picker-arrow-paint {
  background-image: url("images/icon/arrow-paint.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
#insertPicture .colorPicker-picker.picker-arrow-text {
  background-image: url("images/icon/arrow-text.png") !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
