/*
  anneal_steps = 1000
  */

.icon(@file){
    background:url("./@{file}");
}

.inspic16{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    &.mt{
	.icon("mt.png");
    }
    &.mr{
	.icon("mr.png");
    }
    &.ml{
	.icon("ml.png");
    }
    &.mb{
	.icon("mb.png");
    }
    &.padding{
	.icon("padding.png");
	width: 18px;
	height: 18px;
    }
    &.radius{
	.icon("radius.resized.png");
    }
    &.bold{
	.icon("text_bold.png");
    }
    &.italic{
	.icon("text_italic.png");
    }
    &.fontsize{
	.icon("fontsize.png");
    }
    &.bwidth{
	.icon("border-weight.png");
    }
    &.alpha{
	.icon("transparency.png");
    }
    &.sh-y{
	.icon("dist-v.png");
    } 
    &.sh-x{
	.icon("dist-h.png");
    }
    &.sh-rad{
	.icon("shadow-radius.png");
    }
}

.iconSelectItem{
    width:16px;
    height:16px;
    }

.iconSelect[field="borderline.style"], .iconSelect[field="caption.outer.border.style"]{
    .iconSelectItem[value="solid"]{
	background:url("line-solid.png");
    }
    .iconSelectItem[value="dashed"]{
	background: url("line-dashed.png");
    }
    .iconSelectItem[value="dotted"]{
	background: url("line-dotted.png");
    }
    .iconSelectItem[value="double"]{
	background: url("line-double.png");
    }
}
.iconSelect[field="position"]{
    .iconSelectItem[value="inline_right"]{
	background:url("wrapping-right.png");
    }
    .iconSelectItem[value="inline_left"]{
	background:url("wrapping-left.png");
    }
    .iconSelectItem[value="inline_none"]{
	background:url("wrapping-inline.png");
    }
    .iconSelectItem[value="block_right"]{
	background:url("wrapping-rightblock.png");
    }
    .iconSelectItem[value="block_left"]{
	background:url("wrapping-leftblock.png");
    }
    .iconSelectItem[value="block_center"]{
	background:url("wrapping-center.png");
    }
}
.iconSelect[field="caption.textAlign"]{
    .iconSelectItem[value="left"]{
	background:url("text_align_left.png");
    }
    .iconSelectItem[value="center"]{
	background: url("text_align_center.png");
    }
    .iconSelectItem[value="right"]{
	background: url("text_align_right.png");
    }
}
.iconSelect.posTop[field="caption.inner.hpos"]{
    .iconSelectItem[value="right"]{
	background: url("pos-tr.png");
    }
    .iconSelectItem[value="left"]{
	background: url("pos-tl.png");
    }
    .iconSelectItem[value="full"]{
	background: url("pos-t.png");
    }
}
.iconSelect.posBottom[field="caption.inner.hpos"]{
    .iconSelectItem[value="right"]{
	background: url("pos-br.png");
    }
    .iconSelectItem[value="left"]{
	background: url("pos-bl.png");
    }
    .iconSelectItem[value="full"]{
	background: url("pos-b.png");
    }
}
.iconSelect[field="caption.pos"]{
    .iconSelectItem[value="inner_bottom"]{
	background: url("image-ib.png");
    }
    .iconSelectItem[value="outer_bottom"]{
	background:url("image-ob.png");
    }
    .iconSelectItem[value="inner_top"]{
	background:url("image-it.png");
    }
    .iconSelectItem[value="outer_top"]{
	background:url("image-ot.png");
    }
}

.colorPicker-picker{
    &.picker-arrow-line{
	background:url("arrow-line.png")!important;
    }
    &.picker-arrow-paint{
	background:url("arrow-paint.png")!important;
    }
    &.picker-arrow-text{
	background:url("arrow-text.png")!important;
    }
}
