.inspic16 {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
.inspic16.mt {
  background: url('../icon.png') no-repeat -204px 0;
}
.inspic16.mr {
  background: url('../icon.png') no-repeat -493px 0;
}
.inspic16.ml {
  background: url('../icon.png') no-repeat -323px 0;
}
.inspic16.mb {
  background: url('../icon.png') no-repeat -459px 0;
}
.inspic16.padding {
  background: url('../icon.png') no-repeat -19px -17px;
  width: 18px;
  height: 18px;
}
.inspic16.radius {
  background: url('../icon.png') no-repeat -357px 0;
}
.inspic16.bold {
  background: url('../icon.png') no-repeat -102px 0;
}
.inspic16.italic {
  background: url('../icon.png') no-repeat -527px 0;
}
.inspic16.fontsize {
  background: url('../icon.png') no-repeat -544px 0;
}
.inspic16.bwidth {
  background: url('../icon.png') no-repeat -170px 0;
}
.inspic16.alpha {
  background: url('../icon.png') no-repeat -289px 0;
}
.inspic16.sh-y {
  background: url('../icon.png') no-repeat -94px -17px;
}
.inspic16.sh-x {
  background: url('../icon.png') no-repeat -76px -17px;
}
.inspic16.sh-rad {
  background: url('../icon.png') no-repeat -425px 0;
}
.iconSelectItem {
  width: 16px;
  height: 16px;
}
.iconSelect[field="borderline.style"] .iconSelectItem[value="solid"], .iconSelect[field="caption.outer.border.style"] .iconSelectItem[value="solid"] {
  background: url('../icon.png') no-repeat -476px 0;
}
.iconSelect[field="borderline.style"] .iconSelectItem[value="dashed"], .iconSelect[field="caption.outer.border.style"] .iconSelectItem[value="dashed"] {
  background: url('../icon.png') no-repeat -119px 0;
}
.iconSelect[field="borderline.style"] .iconSelectItem[value="dotted"], .iconSelect[field="caption.outer.border.style"] .iconSelectItem[value="dotted"] {
  background: url('../icon.png') no-repeat -442px 0;
}
.iconSelect[field="borderline.style"] .iconSelectItem[value="double"], .iconSelect[field="caption.outer.border.style"] .iconSelectItem[value="double"] {
  background: url('../icon.png') no-repeat -51px 0;
}
.iconSelect[field="position"] .iconSelectItem[value="inline_right"] {
  background: url('../icon.png') no-repeat -510px 0;
}
.iconSelect[field="position"] .iconSelectItem[value="inline_left"] {
  background: url('../icon.png') no-repeat -561px 0;
}
.iconSelect[field="position"] .iconSelectItem[value="inline_none"] {
  background: url('../icon.png') no-repeat -408px 0;
}
.iconSelect[field="position"] .iconSelectItem[value="block_right"] {
  background: url('../icon.png') no-repeat -68px 0;
}
.iconSelect[field="position"] .iconSelectItem[value="block_left"] {
  background: url('../icon.png') no-repeat -306px 0;
}
.iconSelect[field="position"] .iconSelectItem[value="block_center"] {
  background: url('../icon.png') no-repeat -374px 0;
}
.iconSelect[field="caption.textAlign"] .iconSelectItem[value="left"] {
  background: url('../icon.png') no-repeat -272px 0;
}
.iconSelect[field="caption.textAlign"] .iconSelectItem[value="center"] {
  background: url('../icon.png') no-repeat -187px 0;
}
.iconSelect[field="caption.textAlign"] .iconSelectItem[value="right"] {
  background: url('../icon.png') no-repeat -85px 0;
}
.iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem[value="right"] {
  background: url('../icon.png') no-repeat -153px 0;
}
.iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem[value="left"] {
  background: url('../icon.png') no-repeat -391px 0;
}
.iconSelect.posTop[field="caption.inner.hpos"] .iconSelectItem[value="full"] {
  background: url('../icon.png') no-repeat -255px 0;
}
.iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem[value="right"] {
  background: url('../icon.png') no-repeat -17px 0;
}
.iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem[value="left"] {
  background: url('../icon.png') no-repeat 0 0;
}
.iconSelect.posBottom[field="caption.inner.hpos"] .iconSelectItem[value="full"] {
  background: url('../icon.png') no-repeat -221px 0;
}
.iconSelect[field="caption.pos"] .iconSelectItem[value="inner_bottom"] {
  background: url('../icon.png') no-repeat -340px 0;
}
.iconSelect[field="caption.pos"] .iconSelectItem[value="outer_bottom"] {
  background: url('../icon.png') no-repeat -34px 0;
}
.iconSelect[field="caption.pos"] .iconSelectItem[value="inner_top"] {
  background: url('../icon.png') no-repeat -238px 0;
}
.iconSelect[field="caption.pos"] .iconSelectItem[value="outer_top"] {
  background: url('../icon.png') no-repeat -136px 0;
}
.colorPicker-picker.picker-arrow-line {
  background: url('../icon.png') no-repeat -57px -17px;
}
.colorPicker-picker.picker-arrow-paint {
  background: url('../icon.png') no-repeat -38px -17px;
}
.colorPicker-picker.picker-arrow-text {
  background: url('../icon.png') no-repeat 0 -17px;
}
